/*  CUSTOM STYLES  */

:root {
  --dark-color: #141414;
  --light-color: #fff;
  --alt-color: rgb(159, 159, 159);
  --bolt: #ECBA17;
}
html,
body,
header,
.projects {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* TEXT STYLING */
a {
  color: var(--dark-color);
  font-family: 'Helvetica', sans-serif;
  text-decoration: none;
}

a:visited {
color: var(--dark-color);
}

/* OVERLAY */
/* .overlay {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100vh;
      background: #fff;
      top: 0%:
} */

/* HERO */

.logo {
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 0;
}

.hero {
  /* border: 10px solid var(--bolt); */
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.hero-name {
  font-family: 'Staatliches', sans-serif;
  text-align: center;
  margin: 2rem 2rem 0 2rem;
  font-size: 6rem;
}

.intro {
  text-align: center;
}

.intro p {
  font-size: 1rem;
  margin: 1rem;
}

.intro h3 {
  font-size: 1.6rem;
  margin: .3rem .5rem;
}

.about-me:hover {
  text-decoration: none;
  color: var(--light-color);
}


/* NAV */
nav {
  background-color: var(--light-color);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0;
}

nav ul li {
  text-transform: uppercase;
  margin: 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
}

nav a {
  color: var(--dark-color);
}

nav li a:hover {
  color: var(--bolt);
  text-decoration: none;
}

nav a:visited {
  color: var(--dark-color);
}


/* PROJECTS */
.project-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 0 2rem;
}

.projects h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.project-item h3 {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

.project-title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: -3rem;
}

.snippet {
  margin-top: -2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.code {
  font-size: 1rem;
  color: var(--bolt);
  text-transform: uppercase;
  font-weight: 700;
  margin-top: -2rem;
}

.project-img img {
  display: block;
  width: 100%;
  height: auto;
}

.projects a {
  color: var(--dark-color);
  padding: 1rem;
  font-size: 1.5rem;
}

.projects a:hover {
  text-decoration: none;
}

.project-item a:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--bolt);
}

.project-item a:visited {
  color: var(--dark-color);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    grid-gap: 1rem;
    margin: 0 2rem;
  }
}

/* ABOUT */

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-header {
  font-size: 5em;
  font-family: 'Staatliches';
  position: relative;
  margin: 4rem 2rem;
  text-align: left;
}

.about img {
  width: 60px;
  height: 60px;
  margin: 0;
}

.about {
  height: 125vh;
}

.bio-box h2 {
  text-align: left;
}

.bio p {
  margin: 2rem;
}

.tools p {
  margin: 2rem;
}

.skills p {
  margin: 2rem;
}

/* CONTACT */
.contact-header {
  font-size: 6em;
  font-family: 'Staatliches', cursive;
  position: relative;
  margin: 4rem 2rem;
  width: 30%;
}

.contact a {
  color: var(--bolt);
}

.contacts h2 {
  text-transform: uppercase;
  text-align: left;
}

.email p {
  margin-left: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.bolt {
  color: var(--bolt);
}

.contacts {
  margin-left: 40%;
  margin-top: 5%;
  text-align: left;
}

.social ul {
  list-style-type: none;

}

.social ul li {
    display: inline;
    margin: 1rem;
    font-weight: 700;
}

.social a:hover {
  color: var(--bolt);
}

.resume a {
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 3rem;
}

.copy {
  margin-top: 4rem;
}

.copy a {
  font-size: .75rem;
  font-weight: bold;
  color: text-align: center;
  text-transform: uppercase;
}

.copy a:hover {
  color: var(--bolt);
}

.copy p {
  font-size: .75rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
}
